@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.empty {
    height: 150px;
}

.subTitle {
    font-size: 5rem;
    font-weight: 400;
    font-family: "Chalkboard SE";
}

.fontHiragino {
    font-family: "ヒラギノ角ゴ stdN";
}

.fontDINCondensedBold {
    font-family: "DIN Condensed";
}

.fontHarenosora {
    font-family: "はれのそら明朝";
}
.fontChalkboardSE {
    font-family: "Chalkboard SE";
}

.fontEuphemiaUCAS {
    font-family: "Euphemia UCAS";
}

.fontMeiryoUI {
    font-family: "Meiryo UI";
}

.fontWeight200 {
    font-weight: 200;
}

.fontWeight300 {
    font-weight: 300;
}

.fontWeight400 {
    font-weight: 400;
}

.fontWeight800 {
    font-weight: 800;
}

.txt4rem {
    font-size: 4rem;
}

.txt3rem {
    font-size: 3rem;
}

.txt2rem {
    font-size: 2rem;
}

.txt1_5rem {
    font-size: 1.5rem;
}

.txt1rem {
    font-size: 1rem;
}

.txt0_8rem {
    font-size: 0.8rem;
}

.colorWhite {
    color: #FFF;
}

.colorWhiteGray {
    color: #D9D9D9;
}

.colorGray {
    color: #808080;
}

.colorYellow {
    color: #FFFF00;
}

.colorWhite {
    color: #FFFFFF;
}

/*【トップ】=============================================================*/
.top{
    height: 100vh;
}

/*背景=============================================================*/
.backPic {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.backPicYama {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 2;
}

.backPicTree {
    position: fixed;
    bottom: 0;
    left: 100px;
    width: 600px;
    height: 600px;
    z-index: 2;
}

.backPicHaru {
    opacity: 1;
}

.backPicNatsu {
    opacity: 0;
}

.backPicAki {
    opacity: 0;
}

.backPicFuyu {
    opacity: 0;
}


/*ロゴ=============================================================*/
.logo{
    position: fixed;
    top: 100px;
    right: 200px;
    z-index: 2;
    cursor: pointer;
}

/*季節切り替え=============================================================*/
.navi{
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 4;
    position: fixed;
}

.navi li{
    float: none;
    margin: 10px 20px;
    list-style: none;
}

.circle {
    border: solid 3px #FFFF00;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #FFFF00;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.naviHaru {
    color: #61C1D3;
    background-color: #FFFF00;
    pointer-events: none;
}


/*メニュー=========================================================*/
.btnTrigger {
    position: fixed;
    top: 3%;
    right: 3%;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 6;
}
.btnTrigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
.btnTrigger, .btnTrigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
}
.btnTrigger span:nth-of-type(1) {
    top: 0;
}
.btnTrigger span:nth-of-type(2) {
    top: 13px;
}
.btnTrigger span:nth-of-type(3) {
    bottom: 0;
}

#naviBtn.active span:nth-of-type(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}
#naviBtn.active span:nth-of-type(2) {
    opacity: 0;
}
#naviBtn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

.menuBox {
    position: fixed;
    padding: 80px 0 0 20px;
    top: -100vh;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #998675;
    z-index: 5;
}

.menuBox a {
    line-height: 2.5rem;
    text-decoration: none;
}

.menuBox a:hover {
    color: #D9D9D9;
}


/*キッズメニュー=========================================================*/
.kidsMenuHN {
    opacity: 1;
}

.kidsMenuAF {
    opacity: 0;
}

.animalLeft {
    position: fixed;
    top: 67%;
    right: 35%;
    cursor: pointer;
    animation: animalUpDown 3s ease-in-out both infinite;
    z-index: 3;
}

.animalCenter {
    position: fixed;
    top: 67%;
    right: 20%;
    cursor: pointer;
    animation: animalUpDown 3s ease-in-out both infinite;
    z-index: 3;
    animation-delay: 1s;
}

.animalRight {
    position: fixed;
    top: 67%;
    right: 5%;
    cursor: pointer;
    animation: animalUpDown 3s ease-in-out both infinite;
    z-index: 3;
    animation-delay: 2s;
}

.animalLeft:hover, .animalCenter:hover, .animalRight:hover {
    animation: animalHover 1s ease-in-out both;
}

.fukidashiLeft {
    position: fixed;
    top: 67%;
    right: 25%;
    opacity: 0;
    z-index: 2;
}
.fukidashiCenter {
    position: fixed;
    top: 67%;
    right: 20%;
    opacity: 0;
    z-index: 2;
}
.fukidashiRight {
    position: fixed;
    top: 67%;
    right: 15%;
    opacity: 0;
    z-index: 2;
}


/*コンテンツ=============================================================*/

/*動物一覧==================*/
.animalList {
    position: relative;
    margin: 0 auto;
    padding: 40px;
    left: 0;
    right: 0;
    width: 80%;
    border-radius: 100px;
    z-index: 1;
}

.animalListTitle {
    text-align: center;
    border-radius: 100px;
    background: #FF931E;
    line-height: 7rem;
}

.gallery{
    list-style:none;
    overflow:hidden;
    padding:10px;
}
.gallery li{
    float: left; 
    width: 200px;
    line-height: 0;
    margin: 20px 0;
}
.gallery img{
    display: block;
    width: 95%;
    border-radius: 50px;
    cursor: pointer;
}

.animalName {
    margin: 10px 0;
}


/*今日のイベント==================*/
.date {
    padding: 10px;
    text-align: center;
    border-bottom: dotted 10px #FFAEAC;
}

.schedule {
    position: relative;
    margin: 50px auto;
    padding: 40px;
    left: 0;
    right: 0;
    width: 80%;
    border-radius: 100px;
    z-index: 1;
}

.scheduleTitle {
    text-align: center;
    border-radius: 100px;
    background: #FFAEAC;
    line-height: 7rem;
}

.eventBox {
    padding: 20px;
    width: 80%;
    border-radius: 50px;
    left: 0;
    right: 0;
    margin: 30px auto;
    cursor: pointer;
}

.eventPic {
    float: left;
    border-radius: 50px;
}

.eventTxt {
    width: 65%;
    float: right;
    vertical-align: middle;
}

/*ショップ==================*/

.shop {
    position: relative;
    margin: 50px auto;
    padding: 40px;
    left: 0;
    right: 0;
    width: 80%;
    border-radius: 100px;
    z-index: 1;
}

.shopTitle {
    text-align: center;
    border-radius: 100px;
    background: #C073CC;
    line-height: 7rem;
}

.shopBox {
    padding: 20px;
    width: 80%;
    border-radius: 50px;
    left: 0;
    right: 0;
    margin: 30px auto;
    cursor: pointer;
}

.shopPic {
    float: left;
    border-radius: 50px;
}

.shopTxt {
    width: 65%;
    float: right;
    vertical-align: middle;
}




/*アニメーション=============================================================*/
@keyframes animalUpDown {
    0% {
        transform: translate3d(0, 0, 0);
    }
    40% {
        transform: translate3d(0, -50px, 0);
    }
    55% {
        transform: translate3d(0, 0, 0);
    }
    60% {
        transform: translate3d(0, -20px, 0);
    }
    70% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animalHover {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes fukidashiUp {
    100% {
        transform: translate3d(0, -200px, 0);
        opacity: 1;
    }
}

@keyframes fukidashiDown {
    100% {
        transform: translate3d(0, 0, 0);
    }
}
