@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.subTitle {
    font-size: 5rem;
    font-weight: 400;
    font-family: "Chalkboard SE";
}

.fontDINCondensedBold {
    font-family: "DIN Condensed";
}

.fontHarenosora {
    font-family: "はれのそら明朝";
}

.fontHiragino {
    font-family: "ヒラギノ角ゴシック";
}

.fontChalkboardSE {
    font-family: "Chalkboard SE";
}

.fontEuphemiaUCAS {
    font-family: "Euphemia UCAS";
}

.fontMeiryoUI {
    font-family: "Meiryo UI";
}

.fontWeight200 {
    font-weight: 200;
}

.fontWeight300 {
    font-weight: 300;
}

.fontWeight400 {
    font-weight: 400;
}

.fontWeight800 {
    font-weight: 800;
}

.txt4rem {
    font-size: 4rem;
}

.txt3rem {
    font-size: 3rem;
}

.txt2rem {
    font-size: 2rem;
}

.txt1_5rem {
    font-size: 1.5rem;
}

.txt1rem {
    font-size: 1rem;
}

.txt0_8rem {
    font-size: 0.8rem;
}

.colorWhite {
    color: #FFF;
}

.colorWhiteGray {
    color: #D9D9D9;
}

.colorGray {
    color: #808080;
}

.under { 
    border-bottom: solid 3px red;
}

/*【トップ】=============================================================*/
.top{
    height: 100vh;
}

/*背景=============================================================*/
.backPic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

/*ロゴ=============================================================*/
.logoTxt{
    position: fixed;
    margin: 20px;
    z-index: 1;
}

.logo{
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 1;
}

/*コピー=============================================================*/
.copy{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 150px;
}


/*メニュー=============================================================*/
.menuBtnOpen {
    position: absolute;
    top: 47%;
    right: 150px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    animation: rotation 4s ease-in-out both infinite;
}

.menuBtnOpen:hover {
    animation: svgHover 0.8s ease-in-out both;
}

.menuBtnClose {
    position: absolute;
    top: 47%;
    right: 150px;
    width: 40px;
    height: 40px;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    animation: rotation 4s ease-in-out both infinite;
}

.menuBtnClose:hover {
    animation: svgHover 0.8s ease-in-out both;
}

.menuBox {
    position: absolute;
    padding: 20px;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #c1272d;
}

.menuBox a {
    line-height: 5rem;
    cursor: pointer;
    text-decoration: none;
}

.menuBox a {
    background: linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 1px no-repeat;
    transition:0.5s;
}
.menuBox a:hover {
    --d: 100%;
}

.menuBoxBottom {
    position: absolute;
    bottom: 20px;
}

.menuBoxBottom a {
    line-height: 2rem;
}


/*アニメーション=============================================================*/
@keyframes rotation{
    0%{ transform:rotateX(0);}
    100%{ transform:rotateX(360deg); }
}

@keyframes svgHover {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.2);
    }
}
